<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Warehouse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
</head>
<body>
    <div id="Wrapper">
        <div class="sidebar" data-color="orange" data-background-color="black">

            <div class="logo">
                <a class="simple-text logo-normal">
                    Warehouse Management
                </a>
            </div>
            <div class="sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" asp-controller="Products" asp-action="Index">
							<i class="material-icons">
								format_list_bulleted
							</i>
							<p>รายการสินค้า</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-controller="Products" asp-action="Create">
							<i class="material-icons">
								add
							</i>
							<p>เพิ่มสินค้า</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" asp-controller="Products" asp-action="Sale">
							<i class="material-icons">
								monetization_on
							</i>
							<p>ขายสินค้า</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" asp-controller="Orders" asp-action="Index">
							<i class="material-icons">event</i>
							<p>รายการขาย</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" asp-controller="Orders" asp-action="Index">
							<i class="material-icons">event</i>
							<p>สรุปยอดขาย</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" asp-controller="Products" asp-action="Warning">
							<i class="material-icons">event</i>
							<p>สินค้าใกล้หมด</p>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" asp-controller="LineNotis" asp-action="Index">
							<i class="material-icons">event</i>
							<p>สินค้าใกล้หมด</p>
						</a>
					</li>
				</ul>
            </div>

        </div>
        <div class="main-panel">

            <div class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">


                    <partial name="_LoginPartial" />



                </div>


            </div>


            <div class="content">
                <div class="container-fluid">
                    <div class="col-lg">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title">@ViewData["Title"]</h4>

                            </div>
                            <div class="card-body table-responsive">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  
    <script src="~/assets/js/plugins/moment.min.js"></script>
   
    <script src="~/assets/js/plugins/sweetalert2.js"></script>
  
    <script src="~/assets/js/plugins/jquery.validate.min.js"></script>
  
    <script src="~/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
   
    <script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
 
    <script src="~/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
   
    <script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
  
    <script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
   
    <script src="~/assets/js/plugins/fullcalendar.min.js"></script>
    
    <script src="~/assets/js/plugins/jquery-jvectormap.js"></script>
    
    <script src="~/assets/js/plugins/nouislider.min.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
   
    <script src="~/assets/js/plugins/arrive.min.js"></script>

   
    <script src="~/assets/js/plugins/chartist.min.js"></script>
   
    <script src="~/assets/js/plugins/bootstrap-notify.js"></script>
   
    <script src="~/assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });





                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

        });
    </script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
