@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">คุณไม่มีสิทธ์ในการเข้าถึงหน้านี้</p>
</header>
