@{
	ViewData["Title"] = "บริการ Line Notify";
}
<div class="row">
	<div class="col-md-4">
		<form asp-action="LineNotify" method="post">
			<div class="form-group">
				<input type="submit" name="provider" value="LineNotify" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

